@using ShopNoiThat.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<DONDATHANG>

@{
    ViewBag.Title = "dsDonHang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý đơn đặt hàng</h2>
<style>
    .product-image {
        width: 100px;
        height: 100px;
    }

    .menutrang {
        text-align: right;
    }

        .menutrang li {
            display: inline;
        }
</style>

<table class="table" style="margin-top:20px">
    <tr>
        <th>
            Mã đơn hàng
        </th>
        <th>
            Tên khách hàng
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Trạng thái
        </th>
        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDonHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienthoaiKH)
            </td>
            <td>
                @if (item.Dathanhtoan == true)
                {
                   <p>Đã hoàn thành</p>
                }
                else
                {
                    <p>Đang xử lý</p>
                }

            </td>
            <td>
                <a class="btn btn-success" href="@Url.Action("xemDonHang","Admin",new { id = item.MaDonHang })">Xem</a>
                <a class="btn btn-warning" href="@Url.Action("suaDonHang","Admin",new { id = item.MaDonHang })">Sửa</a>
                <a class="btn btn-danger" href="@Url.Action("xoaDonHang","Admin",new { id = item.MaDonHang })">Xóa</a>
            </td>
        </tr>
    }

</table>

<div class="menutrang">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber )/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>


